[submodule "src/MessageSerial"]
	path = src/MessageSerial
	url = https://github.com/icboredman/PacketSerial.git
	branch = MessageSerial
[submodule "src/Arduino/cherokey_slave"]
	path = src/Arduino/cherokey_slave
	url = https://github.com/icboredman/cherokey_slave
